@import "tailwindcss";

:root {
  --background: #950F0F;
  --foreground: #D98019;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #950F0F;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nextjs-toast {
  display:none;
}
