@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #2d9348;
  --foreground: #14821f;
}

html {
  scroll-behavior: smooth;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d9348;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nextjs-toast {
  display:none;
}
